/* fira sans styles */

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }


  /* shared tags */

 .ultimate-titles {
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    }
 .ultimate-subtitles {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    }
    .text-special {
      text-align: center;
    }

  /* body style */
  body {
    background-color: #F1F1F3;
  }
  
  /* nav styles */
  .navbar {
    margin: 0 160px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-control {
    list-style: none;
    text-align: center;
    padding: 0;
    
  }
  .nav-title {
    color: #0E0E0E;
    font-size: 32px;
    display: block;
    padding: 0;
  }
  .nav-button {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 18px;
    color: #006A50;
    padding: 15px 30px;
    border: 2px solid #006A50;
    border-radius: 8px;
  }

  /* banner section styles */
  .banner {
    height: 560px;
    margin: 0 160px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding-left: 60px;
  }
  .banner-details{
    display: block;
  }
  .banner-title {
    color: #0E0E0E;
    opacity: 50%;
    font-size: 24px;
  }
  .banner-description {
    font-size: 56px;
    color: #0E0E0E;
  }
  .banner-btn {
    padding: 17px 34px;
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
  }
  .banner-img {
    background-size: cover;
    padding-right: 60px;
  }


  /* the vision of future part styles */

.vision-future {
    margin: 0 160px 20px;
}
.vision-title {
    font-size: 40px;
    color: #0E0E0E;
}
.vision-subtitle {
    font-size: 18px;
    color: #0E0E0E;
    opacity: 70%;
    line-height: 24px;
}
.box-container {
    display: flex;
    gap: 24px;
    margin-top: 32px;
}
.digital-transformation {
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    padding: 32px;
}
.btn-primary {
    background-color: #5490F5;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 11px 20px;
    border: none;
}
.green-energy {
    background-color: #C6E4D6;
    border-radius: 16px;
    padding: 32px;
}
.modern-infrastructure {
    background-color: #F7EBCF;
    border-radius: 16px;
    padding: 32px;
}
.btn-secondery {
    background-color: #09A15C;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 11px 20px;
    border: none;
}
.btn-third {
    background-color: #FFC239;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 11px 20px;
    border: none;
}


/* news section styles */

.news-sec {
    margin: 0 160px;
}
.news-title{
    font-size: 40px;
    color: #0E0E0E;
}
.news-img {
    border-radius: 24px;
    margin-top: 25px;
}
.news-1 {
    display: flex;
    gap: 32px;
    padding: 48px;
    background-color: #FFFFFF;
    border-radius: 24px;
}
.news-heading {
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
}
.time-date {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.btn-news {
    background-color: #006A50;
    border-radius: 8px;
    padding: 13px 16px;
    color: #FFFFFF;
    font-size: 18px;
}
.news-details {
    padding: 0;
}
.news-2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    padding: 48px;
    background-color: #FFFFFF;
    border-radius: 24px;
    margin-top: 24px;
}

/* donations sections styles from here */

.donation {
  margin: 0 160px;
  text-align: center;
}
.donation-title {
  font-size: 40px;
  color: #0E0E0E;
}
.donation-subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #0E0E0E;
  opacity: 70%;
  padding: 0 88px;
}
.donation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 24px;
  margin: 0 105px;
}
.btn-100 {
  font-size: 40px;
  color: rgba(14, 14, 14, 0.8);
  background-color: #FFFFFF;
  padding: 40px;
  border-radius: 16px;
  border: rgba(14, 14, 14, 0.15);
}
.click-here {
  font-size: 40px;
  color: rgba(14, 14, 14, 0.8);
  padding: 40px;
  border-radius: 16px;
  border: rgba(14, 14, 14, 0.15);
}
.btn-200 {
  background-color: #C6E4D6;
}
.btn-500 {
  background-color: #5490F5;
}
.btn-1000 {
  background-color: aqua;
}

.donation-last-sec {
  display: flex;
  flex-direction: column;
}
.amount-box {
  width: 1090px;
  height: 64px;
  margin: 32px 124px 0;
  background-color: #FFFFFF;
  border: none;
  text-align: center;
  border-bottom: rgba(14, 14, 14, 0.15);
}
.donation-button {
  margin-top: 32px;
  background-color: #006A50;
  padding: 17px 34px;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 18px;
}


/* subscribe newsletter section styles are here */


.subscribe-details {
  margin: 80px 160px;
  background-color: #C6E4D6;
  height: 395px;
  padding: 80px 100px;
  text-align: center;
  border-radius: 24px;
}
.subscribe-content {
  margin: 80px 265px;
}

.subscribe-title {
  font-size: 40px;
  color: #0E0E0E;
}
.subscribe-subtitle {
  font-size: 16px;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}
.last-hope {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}
.subscribe-inputs {
  display: flex;
  gap: 0px;
}
.last-input {
  padding: 18px 40px;
  background-color: #FFFFFF;
  color: rgba(14, 14, 14, 0.3);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  width: 100%;
}
.last-input-button {
  padding: 17px 34px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #006A50;
  color: #FFFFFF;
  border: none;
  border-left: 2px solid #006A50;
  border-collapse: collapse;
}

/* footer section styles start from here */

.last-section-footer {
  margin: 0;
  height: 226px;
  background-color: #FFFFFF;
  padding: 50px 160px;
  text-align: center;
}
.last-title {
  font-size: 32px;
  color: #0E0E0E;
}
.footer-img {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 23px;
}

/* and lastly im adding some hover effects all over the page */


/* nav hover offects are here */
.nav-title:hover {
  cursor: pointer;
}
.nav-button:hover {
  background-color: lightgreen;
  outline: 1px solid lightgreen;
  cursor: pointer;
}

/* banner hover offects */
.banner-btn:hover {
  cursor:grab;
}

/* future vision hover offects */

.hover-special-btn:hover {
  cursor: pointer;
  opacity: 50%;
}
.digital-titles:hover {
  cursor: pointer;
}
.digital-photos:hover {
  cursor: pointer;
}
/* donation section hover effcts */

.btn-100:hover {
  background-color: grey;
  cursor: pointer;
}
.btn-200:hover {
  background-color: cadetblue;
  cursor: pointer;
}
.btn-500:hover {
  background-color: blueviolet;
  cursor: pointer;
}
.btn-1000:hover {
  background-color: lightcoral;
  cursor: pointer;
}
.amount-box:hover {
  outline: 2px solid lightgray;
  border-radius: 5px;
  cursor: text;
}
.donation-button:hover {
  cursor: pointer;
  background-color: #09A15C;
}

/* subscribe newsletter section hover effects */

.last-input:hover {
  outline: 1px solid #09A15C;
}
.last-input-button:hover {
  cursor: pointer;
  background-color: #09A15C;
}
 /* news section hover effects */

 .news-heading:hover {
  cursor: pointer;
 }
 .news-photo:hover {
  cursor: pointer;
 }
.news-img:hover {
  border: 5px solid black;
  cursor: pointer;
}

/* footer hover effects */

.footer-icon:hover {
  cursor: pointer;
}